.onion {
    height:50px;
    width:20px;
    background:green;
    position:absolute;
}

.onion-1 {
    top:60px;
    left:250px;
}

.onion-2 {
    top:100px;
    left:200px;
    transform:rotate(60deg);
}

.onion-3 {
    top:180px;
    left:300px;
    transform:rotate(90deg);
}

.onion-4 {
    top:180px;
    left:150px;
    transform:rotate(70deg);
}

.onion-5 {
    top:220px;
    left:100px;
    transform:rotate(100deg);
}
